[defaults]
# inventory = ./inventory
inventory = ~/project/ansible/inventory
host_key_checking = False
private_key_file = ~/.ssh/id_rsa_6e5733c6485305f8befa722a167f3c51
remote_user = ec2-user
#interpreter_python = /usr/bin/python3
port = 22